.main {
    background: url('../assets/background.jpg');
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}
