@import "../../../../../colors.scss";

.post {
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
  .header {
    padding-top: 10px;
    .date {
      font-size: 15px;
    }
    .title {
        font-size: 35px;
        font-weight: bold;
    }
  }
  .middle {
      text-align: justify;
  }
  .bottom {
      padding: 20px 20px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .comments {
          font-weight: bold;

      }
      .more {
          font-weight: bold;
      }
  }
}
